# Exercise: Labeling

In [2]:
import numpy as np
import pandas as pd
from textblob import TextBlob

In [3]:
data = [
    {"source":"The movie was great, lots of action and top notch movie stars. I'll be watching this one on repeat for months."},
    {"source":"This is the 3rd sequel to the franchise and you can definitely tell. It's bascially the same story arc with slight changes to the characters. I could only watch about 10 minutes of it before I had to stop. It was turely terrible."},
    {"source":"It was the best movie ever!"},
    {"source":"It was the worse movie ever!"}
]

In [4]:
df = pd.DataFrame(data)
df

                                              source
0  The movie was great, lots of action and top no...
1  This is the 3rd sequel to the franchise and yo...
2                        It was the best movie ever!
3                       It was the worse movie ever!

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   source  4 non-null      object
dtypes: object(1)
memory usage: 164.0+ bytes

**Classifying text: `positive` or `negative`.**

In [6]:
def classify_sentiment(review):
    # Function to classify the sentiment of a review
    blob = TextBlob(review)
    sentiment = blob.sentiment.polarity
    if sentiment > 0:
        return 'positive'
    # elif sentiment == 0:
    #     return 'neutral'
    elif sentiment < 0:
        return 'negative'

In [7]:
df['class'] = df['source'].apply(classify_sentiment)
df

                                              source     class
0  The movie was great, lots of action and top no...  positive
1  This is the 3rd sequel to the franchise and yo...  negative
2                        It was the best movie ever!  positive
3                       It was the worse movie ever!  negative

In [9]:
df.to_csv("movie_reviews_labeled.csv", index=False)